.code-block {
    border-radius: 3px;
    padding: 10px;
    overflow: auto;
    font-family: 'Cascadia Code', Roboto;
    font-size: 14px;
    background-color: lightgray;
    border: 1px solid gray;
}

.icon-copy {
    float: right;
    margin-top: 30px;
}