header {




    .header-name {
        font-size: 42px;
        font-weight: var(--roboto-bold);
        margin: 0;
        cursor: pointer;
    }

    @media screen and (max-width:559px) and (min-width: 476px) {
        // .header-name {
        //     font-size: 20px;
        // }
    }

    @media only screen and (max-width:475px) {
        // .header-name {
        //     font-size: 16px;
        // }
    }


}