.slash {
    position: relative;
}

.slash:before {
    content: "/";
    position: absolute;
    top: 6px;
    left: 4.48px;
    font-size: 24px;
    color: black;
    line-height: 0;
    // transition: all 0.2s;
    opacity: 1 !important;
    transform: scale(1) rotate(24deg) !important;
}

.cross {
    position: relative;
}

.cross:before {
    content: "✕";
    position: absolute;
    top: 8px;
    left: 0px;
    font-size: 18px;
    color: red;
    line-height: 0;
}


@media (prefers-color-scheme: dark) {}