#sectionTitle {
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid gray;

    .sectionTitle {
        display: flex;

    }
}

#characterSheetSkillsContainer {
    display: flex;
    width: 100%;
    position: relative;

    .levels {
        display: flex;
        gap: 4px;
        height: 24px;
        justify-content: space-between;
        align-items: center;
    }

    .levelContainer {
        display: flex;
        justify-content: space-between;
        // gap: 12px;
        align-items: center;
    }

}

.characterSkillsColumn {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.skillItem {
    display: flex;
    padding: 8px;
    position: relative;
    justify-content: space-between;
    text-transform: capitalize;
    flex-direction: column;
    // max-width: 228px;
    // min-width: 228px;
    // gap: 12px;
}

label {
    text-transform: capitalize;
}


#characterSheetSkillsFormContainer {
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
    gap: 12px;

    // input {
    //   width: 100%;
    // }
    .buttonContainer {
        justify-content: center;
    }

    .levels {
        display: flex;
        gap: 4px;
        height: 24px;
        justify-content: space-between;
        align-items: center;
    }

    .levelcontainer {
        display: flex;
        justify-content: space-between;
        // gap: 12px;
        align-items: center;
    }

}




#skillSpecialty {
    width: 100%;
    display: flex;
}

.itemWrapper {
    display: flex;
    flex-direction: column;
}

.specialtyWrapper {
    display: flex;
    width: 100%;
}

// .form-group {
//     width: 100%;
//     display: flex;
//     flex-direction: column;
// }

.specialty {
    display: flex;
    width: 100%;
    min-height: 30px;
}

.formFields {
    display: flex;
}


@media (prefers-color-scheme: dark) {

    // .levels .circle {
    //     height: 16px;
    //     width: 16px;
    //     display: flex;
    //     border-radius: 50px;
    //     border: 1px solid red;

    //     &.filled {
    //         background-color: rgb(185 28 28);
    //         border: 1px solid rgb(185 28 28);
    //     }
    // }


    #characterSheetAttributesFormContainer {

        input[type='checkbox'] {
            display: flex;
            min-height: auto;
            width: 100%;
            border: 1px solid red;
            padding: 0;
            height: 16px;
            width: 16px;
            margin: 0 0 0 4px;
            background-color: transparent
        }

        input:checked {
            background-color: darkred;
        }

        .form-group {
            &.levels {
                gap: 0;
            }
        }

        .buttonContainer {
            justify-content: center;
        }
    }


    .skillCount {
        color: red;
    }
}